

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.pass-box {
    width: 1400px; 
    background-color: #fff;
    height: 650px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 25px; 
    text-align: left;
}

h1 {
    white-space: nowrap; 
    color: #3498db;
    font-size: 70px;
    text-align: center;
}

h2 {
    font-size: 50px; 
    margin-top: 95px;
    text-align: center;
}

.pass-info{
    font-size: 30px; 
    margin: 120px 0; 
    text-align: center;
    line-height: 0.6;
}
